{{#foreach navigation}}
    <li class="nav-{{slug}}{{#if current}} nav-current{{/if}}"><a href="{{url absolute="true"}}">{{label}}</a></li>
{{/foreach}}
{{#if @labs.subscribers}}
    <li>
        <a href="{{@blog.url}}subscribe/">RSS</a>
    </li>
{{else}}
    <li>
        <a href="{{@blog.url}}rss/">RSS</a>
    </li>
{{/if}}
