<!DOCTYPE html>
<html>
<head>
    {{!-- Document Settings --}}
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    {{!-- Page Meta --}}
    <title>{{meta_title}}</title>

    {{!-- Mobile Meta --}}
    <meta name="HandheldFriendly" content="True" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" type="text/css" href="{{asset "styles/style.min.css"}}" />

    {{!-- Ghost outputs important style and meta data with this tag --}}
    {{ghost_head}}
</head>
<body class="{{body_class}}">

    {{!-- Mobile navigation --}}
    <nav class="navbar navbar-toggleable-xs navbar-light">
        <div class="container-fluid">
            <div class="row">
                <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#mobileNavbarNav" aria-controls="mobileNavbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                {{#if @blog.logo}}<a class="logo navbar-brand" href="{{@blog.url}}" alt="Home"></a>{{/if}}
                <div class="collapse navbar-collapse" id="mobileNavbarNav">
                    <ul class="navbar-nav">
                        {{navigation}}
                    </ul>
                </div>
            </div>
        </div>
    </nav>

    <div class="container">
        <div class="row">
            <div class="col-main-nav col-sm-3 col-md-2">
                {{!-- Main navigation --}}
                {{#if @blog.logo}}<a class="logo" href="{{@blog.url}}" alt="Home"></a>{{/if}}
                <div class="main-nav">
                    <ul>
                        {{navigation}}
                    </ul>
                </div>
            </div>

            <div class="col-12 col-sm-9 col-md-10">
                {{!-- All the main content gets inserted here, index.hbs, post.hbs, etc --}}
                {{{body}}}
                <footer class="site-footer">
                    <section class="copyright">&copy; {{date format="YYYY"}} {{@blog.title}}</section>
                </footer>
            </div>
        </div>
    </div>

    {{!-- jQuery needs to come before `{{ghost_foot}}` so that jQuery can be used in code injection --}}
    <script type="text/javascript" src="//code.jquery.com/jquery-1.12.0.min.js"></script>
    {{!-- Bootstrap --}}
    <script type="text/javascript"src="{{asset "js/bootstrap.min.js"}}"></script>
    {{!-- Ghost outputs important scripts and data with this tag --}}
    {{ghost_foot}}
    {{!-- Fitvids makes video embeds responsive and awesome --}}
    <script type="text/javascript" src="{{asset "js/jquery.fitvids.js"}}"></script>
    {{!-- The main JavaScript file for Casper --}}
    <script type="text/javascript" src="{{asset "js/index.js"}}"></script>
    {{!-- Slick AJAX link loading --}}
    <script type="text/javascript"src="{{asset "js/pace.min.js"}}"></script>
    {{!-- Google Analytics --}}
    <script type="text/javascript"src="{{asset "js/analytics.js"}}"></script>
</body>
</html>
